header {
    background-color: rgb(179, 0, 0);
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

footer {
    background-color: rgba(58, 46, 46, 0.418);
    background-size: cover;
}

/* this is used to style the text inside the footer */
.foot {
    /* padding top essentially creates 
    empty space on the top to essentially make it so it isn't touching th border*/
    padding-top: 50px;
    margin: 10px;
}

b {
    font-size: large;
    padding: 10px;
}

p {
    padding: 10px;
}

h1.title {
    font-size: 3em;
}

h1.footer {
    font-size: large;
}
<<<<<<< HEAD

img.logo {
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchbar {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    height: 80px;
    background-color: gray;
=======
div.header {
    display: flex;
    align-items: center;
>>>>>>> e0ada0a49f39f1683d6efbe2c4d312c86059dfeb
}