header {
    background-color: rgb(179, 0, 0);
    color: white;
}
body {
    padding: 0;
    margin: 0;
}
footer {
    background-color: rgb(255, 99, 99);
    background-size: cover;
}

b {
    font-size: large;
    padding: 10px;
}
p {
    padding: 10px;
}
h1.title {
    font-size: 3em;
}
h2.slogan {
    margin-right: 50px;
}
h1.footer {
    font-size: large;
}
div.main_header {
    display: flex;
    align-items: center;
    margin-bottom: -40px;
}
div.header {
    display: flex;
    align-items: center;
}
a.page_link {
    padding: 1px 10px;
    border: 1px;
    border-radius: 10px 10px 0 0;
    color: rgb(0, 0, 0);
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    align-self: flex-end;
    margin-bottom: 0px;
    margin-left: 3px;
    font-size: 2em;
}
a.page_selected {
    padding: 1px 10px;
    border: 1px;
    border-radius: 10px 10px 0 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    align-self: flex-end;
    margin-bottom: 0px;
    margin-left: 3px;
    font-size: 2em;
}