header {
    background-color: rgb(179, 0, 0);
    color: white;
}
body {
    padding: 0;
    margin: 0;
}
footer {
    background-color: rgb(255, 99, 99);
    background-size: cover;
}

b {
    font-size: large;
    padding: 10px;
}
p {
    padding: 10px;
}
h1.title {
    font-size: 3em;
}
h1.footer {
    font-size: large;
}
div.header {
    display: flex;
    align-items: center;
}
a.pagelink {
    padding: 1px 6px;
    border: 1px;
    border-radius: 3px;
    color: white;
    background-color: rgb(235, 90, 90);
    text-decoration: none;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 1em;
}